<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasoft.sm.model.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.chinasoft.sm.model.entity.Course" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="couname" property="couname" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, couname, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Course
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Course
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.chinasoft.sm.model.entity.Course" >
    insert into Course (id, couname, state
      )
    values (#{id,jdbcType=CHAR}, #{couname,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinasoft.sm.model.entity.Course" >
    insert into Course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="couname != null" >
        couname,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="couname != null" >
        #{couname,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasoft.sm.model.entity.Course" >
    update Course
    <set >
      <if test="couname != null" >
        couname = #{couname,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasoft.sm.model.entity.Course" >
    update Course
    set couname = #{couname,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>